<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>EpubJSReader</name>
<type>output</type>
<author>Sigil</author>
<description>Provide a FuturePress EpubJS Reader to view the current epub being edited</description>
<engine>python3.4</engine>
<version>0.5.1</version>
<autostart>true</autostart>
<autoclose>true</autoclose>
<oslist>osx,win,unx</oslist>
</plugin>
